.sr_only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

body {
  background-color: #dfe1d6;
  font-family: 'Nanum Brush Script', cursive;
  -ms-overflow-style: none;
  /* overflow-x: hidden; */
}

img {
  width: 20%;
  margin-right: 1rem;
}

.forScroll {
  position: fixed;
  top: 10%;
  left: 50%;
  text-align: center;
  width: 100%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  font-size: 1.4rem;
  opacity: 1;
}

.line-container {
  position: fixed;
  padding: 4px;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 4%;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 50;
}

svg {
  display: inline-block;
  width: 100%;
  height: 45%;
}

main {
  position: relative;
}

.imgWrapper {
  position: absolute;
  width: 100%;
  height: 4000px;
}

.imgWrapper .artWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 30%;
  width: 100%;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  padding: 1rem;
}

.imgWrapper .artWrapper img {
  max-width: 167px;
  max-height: 230px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.imgWrapper .invite {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  height: 200px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  padding: 1rem 1rem;
  opacity: 0;
  z-index: 200;
}

.imgWrapper .invite img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.imgWrapper .invite h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.imgWrapper .invite p {
  font-size: 1.4rem;
}

.walk {
  position: fixed;
  top: 40%;
  width: 100%;
  height: 18vw;
  max-height: 163px;
  z-index: 50;
  border-bottom: 10px solid rgba(0, 0, 0, 0.4);
}

.walkingman img {
  display: none;
  position: fixed;
  z-index: 100;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.walkingman img.on {
  display: block;
  max-width: 180px;
}

.quoteWrapper {
  position: fixed;
  width: 70%;
  height: 20%;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.quoteWrapper .quote {
  display: none;
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  opacity: 0;
}

.quoteWrapper .quote.on {
  display: block;
}
/*# sourceMappingURL=style.css.map */
